;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Dec  1 13:59:37 2009
;; Desktop file format version 206
;; Emacs version 23.1.50.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/my_projects/otpasswd/" "~/my_projects/otpasswd/*.h" "~/my_projects/otpasswd/*.c" "~/my_projects/otpasswd/*."))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/bla/my_projects/otpasswd/crypto.h"
  "crypto.h"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/otpasswd/num.h"
  "num.h"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/otpasswd/otpasswd_actions.h"
  "otpasswd_actions.h"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/otpasswd/passcards.h"
  "passcards.h"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/otpasswd/ppp.h"
  "ppp.h"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/otpasswd/print.h"
  "print.h"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/otpasswd/state.h"
  "state.h"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/otpasswd/crypto.c"
  "crypto.c"
  'c-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/otpasswd/num.c"
  "num.c"
  'c-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/otpasswd/otpasswd.c"
  "otpasswd.c"
  'c-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/otpasswd/otpasswd_actions.c"
  "otpasswd_actions.c"
  'c-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/otpasswd/pam_otpasswd.c"
  "pam_otpasswd.c"
  'c-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/otpasswd/passcards.c"
  "passcards.c"
  'c-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/otpasswd/ppp.c"
  "ppp.c"
  'c-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/otpasswd/print.c"
  "print.c"
  'c-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/otpasswd/state.c"
  "state.c"
  'c-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

