./otpasswd
pam_otpasswd.so
libotp.a
libotp.so
CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
lcov
gcov
Testing
otpasswd.info
patches
docs/*.?.gz
agent_otp
libagent.a
libcommon.a
\#*#
.#*
docs/internal/html
docs/internal/latex
.emacs.desktop*
po/*.mo
po/*.gmo
*.gmo
